= form_for :turn, url: game_turns_path(@game) do |f|
  = f.hidden_field :side_id, value: @side.id
  = f.hidden_field :game_id, value: @game.id
  = f.hidden_field :winner_id, value: winner_id
  = f.hidden_field :loser_id, value: loser_id
  - if points
    = f.hidden_field :points, value: points
    - if color == 'blue'
      = f.submit "+#{points}", class: 'btn btn-primary'
    - else
      = f.submit "+#{points}", class: 'btn btn-negative'
  - else
    = f.text_field :points
    - if color == 'blue'
      = f.submit "Ok", class: 'btn btn-primary'
    - else
      = f.submit "Ok", class: 'btn btn-negative'
