= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .table-view
    .table-view-divider
      Setup
    .input-row
      = f.label :points
      = f.text_field :points
    .input-row
      = f.label :is_ladder, 'Ladder Game'
      = f.check_box :is_ladder
    .table-view-divider
      Players
    - @players.each do |player|
      .table-view-cell
        = label_tag dom_id(player), player.name
        - @game.teams.each_with_index do |team, index|
          .pull-right
            - if team.color == 'red'
              .btn.btn-negative.btn-outlined.js-add-player
                = team.color.humanize
                = hidden_field_tag "game[teams_attributes][#{index}][color]", team.color
                = check_box_tag "game[teams_attributes][#{index}][player_ids][]",
                  player.id,
                  team.players.include?(player),
                  hidden: true
            - else
              .btn.btn-primary.btn-outlined.js-add-player
                Blue
                = hidden_field_tag "game[teams_attributes][#{index}][color]", 'blue'
                = check_box_tag "game[teams_attributes][#{index}][player_ids][]",
                  player.id,
                  team.players.include?(player),
                  hidden: true

  .actions
    = f.submit 'Save', class: "btn btn-positive btn-block"
