= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  .table-view
    - @game.teams.each do |team|
      .table-view-divider
        = "#{team.color.try(:humanize)} Team"
      - team.players.each do |player|
        .table-view-cell
          = label_tag dom_id(player), player.name
          .pull-right
            - @sides.each_with_index do |side, index|
              .btn.btn-primary.btn-outlined.js-add-player
                = side.direction.humanize
                = hidden_field_tag "game[sides_attributes][#{index}][direction]",
                  side.direction
                = check_box_tag "game[sides_attributes][#{index}][player_ids][]",
                  player.id,
                  side.players.include?(player),
                  hidden: true
  .actions
    = f.submit 'Save', class: "btn btn-positive btn-block"
