%ul.table-view.game-show
  %li.table-view-cell
    %span.player
      = @blue_player.name
    %span.pull-right
      = @red_player.name
  %li.table-view-cell
    %span.pull-left
      Points
      = @blue_team_points
    %span.pull-right
      Points
      = @red_team_points

  - (1..5).each do |points|
    %li.table-view-cell
      %span.pull-left
        = render partial: 'turns/form', locals: { points: points, winner_id: @blue_team.id, loser_id: @red_team.id, color: 'blue' }
      %span.pull-right
        = render partial: 'turns/form', locals: { points: points, winner_id: @red_team.id, loser_id: @blue_team.id, color: 'red' }
  %li.table-view-cell
    %span.pull-left
      = render partial: 'turns/form', locals: { points: nil, winner_id: @blue_team.id, loser_id: @red_team.id, color: 'blue' }
    %span.pull-right
      = render partial: 'turns/form', locals: { points: nil, winner_id: @red_team.id, loser_id: @blue_team.id, color: 'red'}
