!!!
%html
  %head
    %title Wayfaring Battle
    %meta{charset: "utf-8"}/
    %meta{content: "initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui", name: "viewport"}
    / Makes your prototype chrome-less once bookmarked to your phone's home screen
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #content
      %header.bar.bar-nav
        = link_to :games do
          .icon.icon-list.pull-left
        %h1.title
          = @title
        - if current_player.present?
          = link_to current_player do
            #menu.icon.icon-person.pull-right
      %body.content
        = yield
